@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,600;0,700;1,500&display=swap');

:root{
    --blue: #297eff;
    --dark-color:#2573ef;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family:  'Roboto Mono', monospace;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}
/* image slider constructing. this image slider was built by watching the tutorial: https://youtu.be/9A9Vc0jVDLU. Compared to other things of the website that was referenced and higlight that only design was gotten and code was written by the autoher himself, this section was built by watching tutorial and the code is quite similar to the tutorial. The main reason for that - webkit-appearance and croping was not familiar before */
.image-slider{
    height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-slider img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#my-img{
    clip-path: polygon(0 0 , 50% 0, 50% 100%, 0 100%);
}
#slider{
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: calc( 100% + 40px);
    height: 100%;
    margin-left: -20px;
    background-color: transparent;
    outline: none;
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 40px;
    background: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/slider-38-657393.png"),
    rgba(255,255,255,0.3);
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
}
/*featrued-kyboard section*/
section.featured-keyboards, section.featured_mouses, section.featured_others{
    margin-top: 4rem;
}
section.featured_mouses h1{
    padding-top: 1rem;
    margin-left: 50%;
    width: 50%;
    display: block;
    font-size: 5rem;
    margin-bottom: 1rem;
    border: 1px solid #2573ef;
    border-top: none;
    border-right: none;
}
section.featured-keyboards h1, section.featured_others h1{
    padding-top: 1rem;
    width: 50%;
    display: block;
    font-size: 5rem;
    margin-bottom: 1rem;
    border: 1px solid #2573ef;
    border-top: none;
    border-left: none;
}
.featured-keyboards .figures-wrapper, .featured_mouses .figures-wrapper, .featured_others .figures-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.featured-keyboards figure img, .featured_mouses figure img, .featured_others figure img{
    border-radius: 1rem;
    width: 100%;
    height: 40rem;
}
.featured-keyboards figure figcaption, .featured_mouses figure figcaption, .featured_others figure figcaption{
    color: rgb(233, 70, 70);
    text-align: center;
    font-size: 3rem;
}
.featured-keyboards figure div, .featured_mouses figure div, .featured_others figure div{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}
.featured-keyboards figure div p, .featured_mouses figure div p, .featured_others figure div p{
    padding: 1rem;
    display: none;
    font-size: 2rem;
}
.featured-keyboards figure div a, .featured_mouses figure div a, .featured_others figure div a {
    padding: 1rem;
    font-size: 3rem;
    color: var(--blue);
}
.featured-keyboards figure div a:hover + p, .featured_mouses figure div a:hover + p, .featured_others figure div a:hover + p{
    position: absolute;
    border-radius: 1rem;
    background-color: rgb(219, 88, 88);
    display: inline;
    transition: 0.5s;
    right: 5rem;
}
.featured-keyboards figure:hover, .featured_mouses figure:hover, .featured_others figure:hover{
    transform: scale(1.1);
}

/*section for showing all products*/
main.main-all-products h1{
    font-size: 4rem;
    text-align: center;
}
.section-move-controller{
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}
.section-move-controller button{
    padding: 1rem;
    background-color: white;
    border: 1px solid rgb(43, 123, 214);
}
.section-move-controller button:hover{
    background-color: rgb(212, 94, 94);
    color: white;
    transition: 0.4s;
    border: none;
    transform: scale(1.1);
}
.section-move-controller button.active{
    background-color: rgb(212, 94, 94);
    color: white;
    transition: 0.4s;
    border: none;
    transform: scale(1.1);
}
.all-products-wrapper{
    padding-top: 2rem;
    margin-left: 2rem;
    width: 500%;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}
.all.all-products-wrapper.first{
    margin-left: -100%;
}
.all-products-wrapper figure{
    margin-right: 1rem;
}
.all-products-wrapper figure a img{
    width: 55rem;
    height: 40rem;
}
.controls-wrapper{
    padding-top: 2rem;
    text-align: center;
    background-color: aliceblue;
    padding-bottom: 2rem;
}
.controls-wrapper input{
    transform: scale(2);
    margin: 1rem;
}
.controls-wrapper input:hover{
    background-color: rgb(54, 149, 228);
}
/*description part of product*/
.all-products-wrapper figure figcaption{
    font-size: 3rem;
    text-align: center;
}
.all-products-wrapper figure div p{
    font-size: 2rem;
}
.all-products-wrapper figure div a{
    font-size: 2rem;
    color: #2573ef;
}
.all-products-wrapper figure div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all-products-wrapper figure div p{
    visibility: hidden;
}
.all-products-wrapper figure div:hover p{
    visibility: visible;
}



















@media (max-width: 900px){
    html{
        font-size: 8px;
    }

}

@media (max-width: 768px){
    html{
        font-size: 7px;
    }
    .featured-keyboards .figures-wrapper, .featured_mouses .figures-wrapper, .featured_others .figures-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .image-slider{
        height: 50vh;
    }
    .all-products-wrapper{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-around;
    }
    .all-products-wrapper figure{
        padding-left: 1rem;
    }
}



@media (max-width: 480px){
    html{
        font-size: 6px;
        overflow-x: hidden;
    }
    .featured-keyboards .figures-wrapper, .featured_mouses .figures-wrapper, .featured_others .figures-wrapper{
        display: grid;
        grid-template-columns: auto;
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .section-move-controller{
        width: 100%;
        margin: 0;
    }
    .all-products-wrapper{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    .all-products-wrapper figure{
        padding-left: 1rem;
    }
}