@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
/*the header's section design was insipirated by the following video: https://youtu.be/6XmDdIRmg84 . The code itself was done by the student from sctratch*/
:root{
    --blue: #297eff;
    --dark-color:#2573ef;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

.search
{
    position: relative;
    max-width: 50%;
    border: 1px solid #2573ef;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 6rem;
}
.search .fa-solid, .fa-sharp{
    font-size: 4rem;
    z-index: 1;
    cursor: pointer;
  }
  .fa-sharp{
    padding-right: 1rem;
  }
  .fa-solid{
    padding-left: 1rem;
  }
  .search button{
    background-color: white;
    border: none;
    border-radius: 1rem;
  }
  .search input{
    border: none;
    width: 70%;
    height: 5.5rem;
    outline: none;
    font-size: 2rem;
  }
  .search button .fa-solid:hover{
    color: #2573ef;
    transition: 0.4s;
  }
/*icons styling*/
header .first_header .icons .appear_text div, header .first_header .icons .appear_text a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
#search-btn{
    display: none;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
#search-btn:hover{
    color: var(--blue);
}
.appear_text p{
    display: none;
    position: absolute;
    top: 30px;
    font-size: 1rem;
    margin-left: 3px;
}
header .first_header .icons .appear_text div:hover, header .first_header .icons .appear_text a:hover{
    color:var(--blue)
}
.first_header .icons .appear_text{
    position: relative;
}
.first_header .icons .appear_text:hover p, .first_header .icons .appear_text:hover p{
    display: block;
}
header .first_header{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .first_header .icons{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}
header .first_header .icons .appear_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.warning{
    background-color: rgb(243, 114, 67);
    height: 15vh;
}
.warning p{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    font-family: 'Poppins' sans-serif;
}
header nav{
    background: var(--blue);
    text-align: center;
    box-shadow: 0px 13px 8px 0px rgba(73, 146, 202, 0.2);
}
header nav a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
header nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:  #ff9501;
    display: block;
    margin: auto;
}
header nav a:hover::after, header nav a.active::after{
    width:  100%;
    transition: 0.4s;
}
header nav.active{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.btn_nav{
    width: 30px;
    margin: 1rem 0;
    display: none;
}
.btn_nav div{
    height: 3px;
    background-color: black;
    border-radius: 10px;
    margin: 4px 0;
    width: 20px;
    display: block;
}
.btn_nav:hover .menulogo-animated{
    transform: scaleX(60%);
    transition: 0.4s;
    cursor: pointer;
}
.mobile-nav{
    width: 50%;
    height: 100vh;
    background-color: #297eff;
    padding: 5rem;
    position: absolute;
    z-index: 1000;
    transform: translateX(-150%);
    transition: 0.5s;
}
.mobile-nav{
    display: flex;
    flex-direction: column;
}
.mobile-nav a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 3rem 0;
    text-align: center;
    color: white;
    font-size: 2rem;
}
.mobile-nav a:hover, .mobile-nav a.active{
    transform: scale(110%);
    color: darkblue;
    transition: 0.4s;
}
.mobile-nav.active-menu{
    transform: translateX(0);
    transition: 0.4s;
    position: fixed;
}

/*horzintal bar with 3 slides. The design was inspired from the video: https://youtu.be/0wvrlOyGlq0. Only design was taken. The code was written by the student himself and differ from the video's.*/
section{
    margin-top: 20px;
}
.slider{
    width: 90%;
    height: 50%;
    margin-left: 5%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.slide{
    background-image: url(../images/97488bdc-f3e6-4ad2-b608-bf75fee1a45_mid.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.first{
    background-image: url(../images/RedmiBook-Pro-14-2022-Ryzen-Edition-1024x643.jpg);
}
.third{
    background-image: url(../images/IMAGE_1651057728.jpeg);
}
.first, .second, .third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first h1, .third h1{
    font-size: 6rem;
    color: white;
}
.second h1{
    font-size: 6rem;
    color: #D2001A;
}
.first p, .second p, .third p{
    font-size: 4rem;
    color: white;
}
.first button, .second button, .third button{
    border-radius: 30px;
    padding: 10px;
    font-size: 2rem;
    border: none;
    margin-bottom: 2rem;
}
.first button:hover, .second button:hover, .third button:hover{
    background-color: #2573ef;
    transform: scale(110%);
    transition: 0.4s;
}
.slides{
    width: 300%;
    height: 500px;
    display: flex;
    transition: 0.8s;
  }
.slide{
    width: 100%;
    transition: 2s;
}
.navigation{
    position: absolute;
    bottom: 2rem;
}
/*New arrivals section*/
.new-arrivals{
    position: relative;
}
.new-arrivals h1{
    font-size: 5rem;
    text-align: center;
    border-bottom: 1px solid lightcoral;
}
.new-arrivals h2{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 3rem;
    color: var(--black);
}
.new-arrivals figure img{
    height: 30rem;
    width: 50rem;
    border-radius: 10px;
}
.new-arrivals .arrivals figure figcaption{
    font-size: 2rem;
    color: rgb(185, 46, 41);
}
.new-arrivals .arrivals figure{
    display: block;
    overflow: hidden;
    max-width: 50rem;
}
.gaming{
    margin-top: 2rem;
    border: 1px solid rgb(185, 46, 41);
    padding: 1rem;
    padding-bottom: 6rem;
    width: 90%;
    margin-left: 5%;
}
.new-arrivals .arrivals{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.new-arrivals a{
    padding: 2rem;
    font-size: 2rem;
    position: relative;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    bottom: 3.6rem;
    margin-bottom: 20px;
    left: 40%;
}
.new-arrivals a:hover, .poster-message button:hover{
    background-color: #2573ef;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
.office{
    margin-top: 2rem;
    border: 1px solid rgb(74, 174, 207);
    padding: 1rem;
    padding-bottom: 6rem;
    width: 90%;
    margin-left: 5%;
}
.deal-of-day h1{
    font-size: 5rem;
    text-align: center;
    border-bottom: 1px solid lightcoral;
}
.poster-wrapper{
    display: flex;
}
.poster-deal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster-message p{
    font-size: 3rem;
    color: var(--black);
}
.poster-message p span{
    font-weight: bold;
    color: rgb(170, 43, 43);
}
.poster-message button{
    padding: 2rem;
    font-size: 2rem;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
}
.poster-wrapper{
    padding-top: 1rem;
    width: 90%;
}
.poster-message{
    position: relative;
    bottom: 0;
}
section.deal-of-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B2FFFF;
}

/*blog section*/
.laptop-blog article{
    display: none;
    width: 90%;
}
.laptop-blog h1{
    padding-top: 4rem;
    text-align: center;
    font-size: 5rem;
    border-bottom: 1px solid rgb(170, 43, 43);
}
.laptop-blog ul{
    margin-left: 5%;
}
.laptop-blog ul li{
    position: relative;
    width: 90%;
    list-style-type: none;
    font-size: 3rem;
    color: var(--black);
    border: 1px solid black;
    border-radius: 10px;
    background-color: #5F9EA0;
    padding: 1rem 0 1rem 1rem;
    margin-top: 1rem;
}
.laptop-blog ul li::after{
    content: "+";
    font-size: 3rem;
    position: absolute;
    top: 2;
    right: 5%;
}
.laptop-blog ul li:hover{
    transform: scale(110%);
    transition: 0.4s;
}
.laptop-blog ul .accordion-trigger.active::after{
    content: "\2715";
}
.laptop-blog ul .accordion-trigger.active:hover{
    transform: scale(100%);
}
.laptop-blog ul .accordion-trigger.active + article{
    display: block;
    transition: 0.4s;
}
.laptop-blog article h1{
    font-size: 3.5rem;
}
.laptop-blog article h2{
    font-size: 3rem;
    color: rgba(209, 55, 55, 0.562);
}
.laptop-blog article p{
    font-size: 2.5rem;
}
/*footer*/
footer{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #B2FFFF;
}
footer  .contacts{
    padding-left: 2rem;
}
footer .contacts h1, .brands h1, .quick-links h1, .social-links h1{
    font-size: 3.5rem;
}
footer .contacts h2{
    font-size: 2.5rem;
}
footer .contacts p, .brands li, .quick-links li{
    font-size: 2rem;
}
footer .contacts iframe{
    width: 100%;
}
footer .brands ul li, .quick-links ul li{
    padding-bottom: 2rem;
    list-style-type: none;
}
footer .brands ul li a , .quick-links li a, .social-links ul li a{
    text-decoration: none;
    color: var(--black);
}
/*social links styling*/
.social-links{
    display: flex;
    flex-direction: column;
}
.social-links ul li a{
    font-size: 2rem;
}
.social-links ul li a i{
    color: black;
}
.social-links h1{
    text-decoration: none;
    color: black;
}
.social-links ul li{
    list-style: none;
}
.brands li:hover, .quick-links li:hover, .social-links ul li a:hover{
    transform: translateX(10%);
    transition: 0.4s;
    color: #287dfc;
}




















@media (max-width:900px){
    html{
        font-size: 8px;
    }
    .search{
        width: 200px;
    }
    header img{
        width: 50%;
    }
    .poster-deal{
        display: block;
    }
}
@media (max-width: 768px){
    #search-btn{
        display: inline-block;
    }
    header .first_header .search{
        position: absolute;
        top: -10%;
        right: 20%;
        width: 90%;
        box-shadow: var(--box-shadow);
        z-index: 1000;
    }
    header .first_header .search.active{
        top: 30%;
    }
    header .wrapper{
        display: inline-block;
    }
    header nav{
        display: none;
    }
    .btn_nav{
        display: block;
    }
    .poster-deal{
        display: block;
    }
    .poster-deal img{
        width: 300px;
    }
    .new-arrivals button{
        margin-left: -10%;
    }
    .laptop-blog ul li{
        font-size: 2rem;
    }
    /*footer*/
    footer{
        flex-direction: column;
    }
    footer ul{
        display: none;
    }
    footer p{
        display: none;
    }
    footer h1{
        background-color: white;
        opacity: 0.6;
        border: 1px solid black;
    }
    footer h1::after{
    content: "+";
    font-size: 3rem;
    position: absolute;
    top: 2;
    right: 5%;
    }
    footer h1.active + ul{
        display: block;
    }
    footer h1.active + p{
        display: block;
    }
    .btn_nav{
        display: block;
        position: fixed;
    }
}
@media (max-width:480px){
    figure{
        transform: scale(0.9);
    }
    .poster-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}