@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,600;0,700;1,500&display=swap');

:root{
    --blue: #297eff;
    --dark-color:#2573ef;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family:  'Roboto Mono', monospace;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}
/*search tool*/
.search
{
    position: relative;
    max-width: 50%;
    border: 1px solid #2573ef;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 6rem;
}
.search .fa-solid, .fa-sharp{
    font-size: 4rem;
    z-index: 1;
    cursor: pointer;
  }
  .fa-sharp{
    padding-right: 1rem;
  }
  .fa-solid{
    padding-left: 1rem;
  }
  .search button{
    background-color: white;
    border: none;
    border-radius: 1rem;
  }
  .search input{
    border: none;
    width: 70%;
    height: 5.5rem;
    outline: none;
    font-size: 2rem;
  }
  .search button .fa-solid:hover{
    color: #2573ef;
    transition: 0.4s;
  }
/*icons styling*/
header .first_header .icons .appear_text div, header .first_header .icons .appear_text a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
#search-btn{
    display: none;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
#search-btn:hover{
    color: var(--blue);
}
.appear_text p{
    display: none;
    position: absolute;
    top: 30px;
    font-size: 1rem;
    margin-left: 3px;
}
header .first_header .icons .appear_text div:hover, header .first_header .icons .appear_text a:hover{
    color:var(--blue)
}
.first_header .icons .appear_text{
    position: relative;
}
.first_header .icons .appear_text:hover p, .first_header .icons .appear_text:hover p{
    display: block;
}
header .first_header{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .first_header .icons{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}
header .first_header .icons .appear_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*navigation bar as the main header*/
header nav{
    background: var(--blue);
    text-align: center;
    box-shadow: 0px 13px 8px 0px rgba(73, 146, 202, 0.2);
}
header nav a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
header nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:  #ff9501;
    display: block;
    margin: auto;
}
header nav a.active::after{
    width: 100%;
    transition: 0.4s;
}
header nav a:hover::after{
    width:  100%;
    transition: 0.4s;
}
header nav.active{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
/*styling navigation for mobile devices*/
.btn_nav{
    width: 30px;
    margin: 1rem 0;
    display: none;
}
.btn_nav div{
    height: 3px;
    background-color: black;
    border-radius: 10px;
    margin: 4px 0;
    width: 20px;
    display: block;
}
.btn_nav:hover .menulogo-animated{
    transform: scaleX(60%);
    transition: 0.4s;
    cursor: pointer;
}
.mobile-nav{
    width: 50%;
    height: 100vh;
    background-color: #297eff;
    padding: 5rem;
    position: absolute;
    z-index: 1000;
    transform: translateX(-150%);
    transition: 0.5s;
}
.mobile-nav{
    display: flex;
    flex-direction: column;
}
.mobile-nav a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 3rem 0;
    text-align: center;
    color: white;
    font-size: 2rem;
}
.mobile-nav a:hover, .mobile-nav a.active{
    transform: scale(110%);
    color: darkblue;
    transition: 0.4s;
}
.mobile-nav.active-menu{
    transform: translateX(0);
    transition: 0.4s;
    position: fixed;
}
/*side bar for filtering*/
aside{
    position: fixed;
    width: 30%;
    margin-top: 5%;
    border: 1px solid rgb(219, 72, 72);
    z-index: -1;
}
aside form{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
aside form div{
    font-size: 3rem;
}
.price input{
    border: 1px solid black;
}
aside form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
aside form div.diagonal datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
}
  
aside form div.diagonal  option {
    padding: 0;
}
  
aside form div.diagonal input[type="range"] {
    margin: 0;
}
.ram input, .ssd-storage input{
    border: var(--border);
    height: 3rem;
}
aside form div {
    border-top: 1px solid rgb(219, 72, 72);
}
aside form button{
    padding: 1rem;
    font-size: 2rem;
    background: white;
    border-radius: 1rem;
    border: var(--border);
}
aside form button:hover{
    background-color: #2573ef;
    color: white;
    transform: scale(110%);
}
/*main section that consists of products as well as copies continue the list*/
main, .table2, .table3{
    margin-left: 30%;
    display: flex;
    flex-wrap: wrap;
}
main figure a, .table2 figure a, .table3 figure a{
    overflow: hidden;
}
main figure a img, .table2 figure a img, .table3 figure a img{
    height: 40rem;
    width: 55rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: 0.5s all ease-in-out;
}
main figure, .table2 figure, .table3 figure{
    margin-left: 5%;
    margin-top: 5%;
}
main figure figcaption, .table2 figure figcaption, .table3 figure figcaption{
    border-right: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
    font-size: 3rem;
    color: rgb(197, 74, 74);
}
main figure details, .table2 figure details, .table3 figure details{
    padding-left: 5%;
    border: 1px solid var(--blue);
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 3rem;
}
main figure a img:hover, section figure a img:hover{
    transform: scale(1.1);
}
.table1, .table2, .table3{
    display: none;
}
.table1.active, .table2.active, .table3.active{
    display: flex;
}
.list_control{
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.list_control p{
    font-size: 3rem;
    color: #2573ef;
}
.list_control p:hover{
    color: rgb(223, 82, 82);
    transform: scale(1.1);
    transition: 0.4s;
}
.list_control p.active{
    color: rgb(223, 82, 82);
}
.ultrabooks_benefits{
    margin-top: 2rem;
}
.ultrabooks_benefits div{
    width: 100%;
    height: 60rem;
}
.ultrabooks_benefits div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.first_feature{
    background-image: url(../images/ultrabooks_feature1.jpg);
}
.second_feature{
    background-image: url(../images/ultrabooks_feature2.jpg);
}
.third_feature{
    background-image: url(../images/ultrabooks_feature3.jpg);
}
.ultrabooks_benefits div h1{
    color: white;
    font-size: 5rem;
}
footer{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #B2FFFF;
}
footer  .contacts{
    padding-left: 2rem;
}
footer .contacts h1, .brands h1, .quick-links h1, .social-links h1{
    font-size: 3.5rem;
}
footer .contacts h2{
    font-size: 2.5rem;
}
footer .contacts li, .brands li, .quick-links li{
    font-size: 2rem;
}
footer .contacts iframe{
    width: 100%;
}
footer .brands ul li, .quick-links li, footer ul li{
    padding-bottom: 2rem;
    list-style-type: none;
}
footer .brands ul li a , .quick-links li a, .social-links li a{
    text-decoration: none;
    color: var(--black);
}
.social-links{
    display: flex;
    flex-direction: column;
}
.social-links li{
    list-style: none;
}
.social-links li a{
    font-size: 2rem;
}
.social-links li a i{
    color: black;
}
.social-links h1{
    text-decoration: none;
    color: black;
}
.brands li:hover, .quick-links li:hover, .social-links a:hover{
    transform: translateX(10%);
    transition: 0.4s;
    color: #287dfc;
}






































@media (max-width: 900px){
    html{
        font-size: 8px;
    }
    aside{
        margin-top: 2%;
    }
}

@media (max-width: 768px){
    #search-btn{
        display: inline-block;
    }
    header .first_header .search{
        position: absolute;
        top: -10%;
        right: 20%;
        width: 90%;
        box-shadow: var(--box-shadow);
        z-index: 1000;
    }
    header .first_header .search.active{
        top: 10rem;
    }
    header .wrapper{
        display: inline-block;
    }
    header nav{
        display: none;
    }
    .btn_nav{
        display: block;
        position: fixed;
    }
    aside{
        width: 100%;
        position: static;
    }
    main{
        margin-bottom: 2rem;
        justify-content: center;
        margin-left: 0;
    }
    section{
        margin-bottom: 2rem;
        justify-content: center;
        margin-left: 0;
    }
    .table2{
        margin-left: 0;
    }
    .list_control{
        margin-left: 0;
    }
    footer{
        flex-direction: column;
    }
    footer ul{
        display: none;
    }
    footer p{
        display: none;
    }
    footer h1{
        background-color: white;
        opacity: 0.6;
        border: 1px solid black;
    }
    footer h1::after{
    content: "+";
    font-size: 3rem;
    position: absolute;
    top: 2;
    right: 5%;
    }
    footer h1.active + ul{
        display: block;
    }
    footer h1.active + p{
        display: block;
    }
}

@media (max-width: 480px){
    html{
        font-size: 6px;
    }
    aside form div{
        font-size: 2rem;
    }

}