html{
    font-size: 10px;
}
/*main section that contains main images and general info insider article*/
main{
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
}
main .image-handler{
    width: 40%;
}
main .image-handler img{
    width: 60rem;
}

article{
    padding: 2rem;
}
article h1{
    font-size: 3rem;
    color: rgb(34, 105, 212);
}
article h2{
    font-size: 2rem;
}
article p{
    font-size: 2rem;
}
/* images switchers */
.image-changer ul{
    display: flex;
    justify-content: space-between;
}
.image-changer ul li{
    list-style-type: none;
}
.image-changer ul li img{
    width: 40rem;
}
.image-changer ul li img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}
/*table styling*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th, td {
    font-size: 3rem;
    padding: 5px;
    text-align: left;
}
tr:nth-child(even){
    color: rgb(34, 105, 212);
    background-color: #f2f2f2
}













@media (max-width: 900px){
    html{
        font-size: 8px;
    }
}


@media (max-width: 768px){
    html{
        font-size: 7px;
    }
    .image-changer ul{
        flex-wrap: wrap;
    }
}


@media (max-width: 480px){
    html{
        font-size: 6px;
    }
    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .image-handler{
        width: 100%;
    }
    main .image-handler img{
        width: 100%;
    }
}